html,
body,
h1,
h2,
div,
p,
ul,
li,
button {
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-size: inherit;
	line-height: inherit;
}

ul {
	list-style: none;
}

button {
	background-color: transparent;
	border: 0;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	cursor: pointer;
}

input {
	width: 100%;
	padding: 0;
	background-color: transparent;
	border: 0;
	font-size: inherit;
	line-height: inherit;
	appearance: none;
}

html {
	font-size: 10px;
	line-height: 10px;
}

body {
	font-size: 16px;
	line-height: 19px;
	color: #f5f6fa;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
}